.contenitore{
  
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;

    
}
.body{
  background-color: white;
}
.partelogo{
    height: 100%;
    flex: 0.2;
    display: flex;
    flex-direction:row;
    margin-left: 30px;
    
    align-items: center;
    align-content: center;

    
}

.partelogo>img{
 
    margin-bottom: 10px;
    margin-left: 5%;
   height: 56px;
   object-fit: cover;

    
}
.partelogo>p{
  font-size: 30px;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: bold;
  margin-right: 40px;

  color: #616161;

}
.partedestra{
  display: flex;
  flex-direction: row;
  align-items: center;
    flex:0.2;
    color: black;
    padding: 2px;
    justify-content: space-between;
    margin-left: 30px;

    margin-right: 20px;
    
}
.account{
  display: flex;

  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  justify-content: space-between;
  
}
.account>p{
  color: #616161;
  margin-left: 10px;
  font-size: 16px;
}
.partecentrale{
  display: flex;
  flex: 0.40;

  
}
.transparent-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 4px;

}